body {
    background-color: white;
}

h1 {
    text-align: center;
    color: grey;
    font-size: 50px;
    text-transform: capitalize;
}
.container {
    text-align: center;
}

#new-todo {
	padding: 16px 16px 16px 30px;
	line-height: 1.4em;
	font-size: 24px;
	border: none;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}


button {
	background-color:#44c767;
	display:inline-block;
	color:#ffffff;
	font-size:20px;
	padding:20px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}
button.deleteBtn {
    font-size:10px;
    color: red;
    padding:5px 5px;
    background-color: transparent;
}

ul > li {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

ul > li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

ul {
  list-style-type: none;
}